<li id="comment-<%= comment._id%>" class="comment">
        <div class="comment-header">
            <div class="comment-heading">
                <h4> <%= comment.user.name %> </h4>
            </div>
    
            <div class="comment-options-dropdown" style="float: right;" >
                <i class="fas fa-ellipsis-h" id="dropdown-btn" style="font-size: 0.7rem"></i>
                <div class="comment-options-dropdown-content" >
                    <% if(locals.user && (locals.user.id == comment.user.id || post.user.id == locals.user.id)) { %>
                        <a class="delete-comment-button" href="/comments/destroy/<%=comment.id%>">Delete</a>
                    <% } %>
                </div>
            </div>
        </div>
    <p> <%= comment.content %></p>

    <div class="action-bar">
        <div class="action-container">      
                <div class = "actions">
                    <% if(locals.user) { %> 
                        <div><a class="toggle-like-button" data-likes="<%= post.likes.length%>" href="/likes/toggle/?id=<%=post._id%>&type=Post"> <i class="far fa-heart">
                            <span> <p style="display: inline-block;"> <%= post.likes.length %> likes</p></span>
                        </i></a> </div>
                    
                     <% } else { %>
                        <p style="display: inline-block;"> <%= post.likes.length %> likes</p></span>
                    <% } %>
                </div>
        </div>
    </div>
</li>