<li id="post-<%= post._id%>" class="sub-container">    
    <div class="post-header">
        <div class="post-heading">
            <h4> <%= post.user.name %> 
        </div>

        <div class="post-options-dropdown" style="float: right;" >
            <i class="fas fa-ellipsis-h" id="dropdown-btn" style="font-size: 0.7rem"></i>
            <div class="post-options-dropdown-content" >
                <% if(locals.user && locals.user.id == post.user.id) { %>
                    <a class="delete-post-button" href="/posts/destroy/<%=post.id%>">Delete</a>
                <% } %>
            </div>
        </div>
    </div>
    
        
    </h4>
    <p> <%= post.content %> </p>
    <% if(locals.user) { %>  
        <!-- let's give an id to the new comment form  we'll also need to make the same changed in home_post.js where we're adding a post to the page -->
        <div id='form-container'>
            <form action="/comments/create" id="post-<%=post._id%>-comments-form" method="POST">
                <div>
                    <textarea name="content" id="text-area" cols="20" rows="1" placeholder="Write a comment..." required></textarea>
                </div>
                <input type="hidden" value = "<%= post._id %>" name = "post">
                <div>
                    <button type="submit">Post Comment</button>
                </div>
            </form>
        </div> 
    <% } %>

        <h4>Comments</h4>
        <div id="comments-display-container">
            <ul id="post-comments-<%=post._id%>">
                <% for(comment of post.comments) { %>
                    <%- include('_comment') -%>
                <% } %>
            </ul>
        </div>

</li>