<link rel="stylesheet" href="/css/header.css">
<link rel="stylesheet" href="/css/footer.css">
<link rel="stylesheet" href="/css/home_layout.css">

<main>

    <section id="navigation-search-container">

    </section>

    <section id="feed-post">
        <%if(locals.user) { %>
            <div id="form-container" class="sub-container">
                <form action="/posts/create" method="POST" id="post-form">
                    <div>
                        <textarea name="content" id="text-area" cols="20" rows="1" placeholder="What's in your mind?" required></textarea>
                    </div>
                    <div>
                        <button type="submit">Post</button>
                    </div>
                </form>
            </div>
        <% } %>
    
        <div id ="post-display-container">
            <ul>
                <% for(post of post_list) {%>
                    <li id=post class="sub-container">    
                        <h4> <%= post.user.name %></h3>
                        <p> <%= post.content %> </p>
                        <% if(locals.user) { %>  
                            <div id='form-container'>
                                <form action="/comments/create" id="comment-form" method="POST">
                                    <div>
                                        <textarea name="content" id="text-area" cols="20" rows="1" placeholder="Write a comment..." required></textarea>
                                    </div>
                                    <input type="hidden" value = "<%= post._id %>" name = "post">
                                    <div>
                                        <button type="submit">Post Comment</button>
                                    </div>
                                </form>
                            </div> 
                        <% } %>
                        
                        <h4>Comments</h4>
                        <div id="comments-display-container">
                            <ul id="post-comments-<%=post._id%>">
                                <% for(comment of post.comments) { %>
                                    <li id="comment">
                                        <h4><%= comment.user.name %></h4>
                                        <p> <%= comment.content %></p>
                                    </li>
                                <% } %>
                            </ul>
                        </div>
                    </li>
                <% } %>          
            </ul>
        </div>    
    </section>    

    <section id="friend-chat-container">

    </section>
</main>
                    